/*estilo de la pagina*/

body {

    background: rgb(0, 195, 255);
    

}

sec h1 {


    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

p {
    text-align: center;

}

picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 28%;
    box-shadow: 60px -16px rgb(3, 3, 3);
    border-radius: 10px 100px / 120px;

}

#opciones li {
    display: inline-block;
    /*la lista la coloca horizontalmente*/


}

.link {
    text-decoration: none;
    color: rgb(0, 117, 250);
    border: 2px solid rgb(0, 132, 255);
    padding: 5px;
    /*margen interior*/
    /*Margen interior*/
    border-radius: 10px;
    font-size: 1.5em;
    display: inline-block;

}

.boton:hover {
    background-color: rgb(1, 98, 243);
}

p {
    font-size: 1.8em;
}

#opciones {

    text-align: center;
}

h1 {

    text-align: center;

}

#botones {
    text-align: center;
    list-style: none;
}

#botones li {
    display: inline-block;
}

#botones {
    margin: 10px;
    padding: 10px;
}

#botones {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(1, 112, 238);
    padding: 5px;
    /*margen interior*/
    border-radius: 10px;
}

.secciones {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 36%, rgba(0, 212, 255, 1) 95%);
    color: beige;
    /* color de letra de la pagina*/
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 36%, rgba(0, 212, 255, 1) 95%);
    color: beige;
    /* color de letra de la pagina*/
}

footer {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 36%, rgba(0, 212, 255, 1) 95%);
    color: beige;
    /* color de letra de la pagina*/
}

#redes {
    text-align: inline-block;
}

#redes {
    text-align: center;

}

#redes {
    display: inline-block;
    margin: 20px;
}
.info{
    text-decoration: none;
    color: rgb(155, 224, 221);
    border: 2px solid rgb(1, 112, 238);
    padding: 5px;
    /*margen interior*/
    border-radius: 10px;
  
}